/.idea
/.vs
/Binaries
/Build
/DerivedDataCache
/Intermediate
/Plugins
/Saved
/Standalone/ConsoleApplication1/.vs
/Standalone/ConsoleApplication1/x64
/*.sln

.vscode

*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace